/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

html, body, .page-container {height: 100%;}

body * {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.page-width {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: 1024px) { 
  .page-width {
    padding: 0 50px;
  }
}


/* Header */

@media (min-width: 768px) { 

}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1;
}

.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: auto;
}

.header__bag {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.header__bag-wrap {
  position: relative;

}
.header__bag-wrap:after {
  content: '1';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 13px;
  font-weight: 500;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 140px;
  }
}

/* Page Layout */

.page-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 150px;
  overflow-x: hidden;
}

.page-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin-bottom: 80px;
}

.page-left__meta {
  max-width: 450px;
}

.page-left__meta-title {
  text-align: center;
  margin-bottom: 30px;
}

.page-left__meta-desciption {
  text-align: center;
}

.page-right {
  width: 100%;
  background-color: #EBF6F8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 30px 100px;
}

@media (min-width: 1024px) { 
  .page-container {
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    overflow: hidden;
  }

  .page-left {
    width: 50%;
    height: 100%;
    margin-bottom: 0;
  }

  .page-right {
    width: 50%;
    height: 100%;
    padding: 0 30px;
  }
}

/* Product Card */

product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 250px;
  box-shadow: 0px 5px 10px #00000030;
  border-radius: 6px;
}

.product-card__img {
  width: 100%;
  height: auto;
  padding: 15px 5px 5px;
}

.product-card__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 20px 40px;
}

.product-card__title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.product-card__price {
  text-align: center;
  color: #FF5C00;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-card__atb {
  text-align: center;
  background-color: #FF5C00;
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  min-width: 160px;
}
.product-card__atb span{
  font-weight: 500;
}

.spinner {
  display: none;
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.product-card__atb.loading .spinner {
  display: block;
}

.product-card__atb.loading span {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Cart Drawer */

.overlay {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.173);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in opacity;
  pointer-events: none;
}

.cart-open .overlay {
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-in opacity;
  pointer-events: all;
}
cart-drawer {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 90%;
  max-width: 400px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: 0.2s ease-in-out transform;
}

.cart-open cart-drawer {
  transform: translateX(0);
}

cart-drawer {
  display: flex;
  flex-direction: column;
}

.cart-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #EBEBEB;
}

.cart-drawer__title {
  font-size: 22px;
}

.cart-drawer__close-btn {
  width: 15px;
  height: auto;
  cursor: pointer;
}

.cart-drawer__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #EBEBEB;
  flex-grow: 1;
  overflow: auto;
}

.cart-drawer__line-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.cart-drawer__line-item-img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.cart-drawer__line-item-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.cart-drawer__line-item-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.cart-drawer__line-item-price {
  color: #FF5C00;
  font-size: 14px;
  margin-bottom: 10px;
  margin-bottom: 4px;
  font-weight: 500;
}
.cart-drawer__line-item-remove {
  cursor: pointer;
  color: #afafaf;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  text-underline-offset: 3px;
}

.cart-drawer__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 40px 40px;
}
.cart-drawer__sub-total {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.cart-drawer__checkout {
  text-align: center;
  background-color: #FF5C00;
  border-radius: 50px;
  color: #FFFFFF;
  border: none;
  padding: 15px 60px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1px;
}
.cart-drawer__continue {
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-underline-offset: 5px;
}